footer{

}




form{
  display: flex;
  flex-direction: row;
  padding: 0.8em 0;
  @media screen and (max-width: 500px) {
    display: block;
  }
}

#twitter, #facebook{
    width: 38px;
    height: auto;
}
