//Hamburger
#menu{
    position:fixed;
    padding: 1em 1em 0 0;
    width:3em; 
    z-index:999;
    right:0;
    cursor:pointer;
}

.section--info{
  width: 90%;
  max-width: 550px;
  position: absolute;
  z-index: 10; 
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: 9em auto;
  @media screen and (min-width: 1500px) {
    margin: 15em auto;
  }
}

.section--logotype{
  padding: 6em 0 4em 0;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.section--info p{
    font-size:1.3em;
}

