.modal--outer {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	background: white;
	width: 90%;
	max-width: 500px;
	transform: translate(-50%, -50%);
	& h2, p {
		color: black;
	}
}

/*-------------------------------------*/
$gray:#D1D3D4;
$blk:#424242;
$pink: #E94B87;

$bldweight: 400;

$h1title:1.3em;
$h2title: 0.9em;

.modal{
	text-align: center;
	padding:20px;
}

.modal img.portrait{
	max-width: 70%;
	height: auto;
	margin-top:20px;
}

.modal .closeBtn img{
	width:17px;
	height:17px;
}

.modal .closeBtn{
	position:absolute;
	right: 0;
	top: 0;
	margin:10px;
	padding:5px;
}

.modal h1{
	padding:0;
	letter-spacing: normal;
	text-align:center;
	margin-top:10px;
	font-size:$h1title;
}

.modal h2{
	margin-bottom:20px;
	font-weight: $bldweight;
	font-size:$h2title;
}

.modal p{
	text-align:left;
	margin:10px;
	padding-top:15px;
	font-size:$h2title;
	font-weight: $bldweight;
	border-top:1px solid $gray;
	padding-bottom:35px;
}

.modal li{
	display: inline;
}

.modal li img{
	width:45px;
	height:auto;
	padding:5px;
}

.modal .portfolio{
	display:inline-block;
	background: $pink;
	border-radius:5px;
	color:white;
	text-decoration:none;
	font-size: $h2title;
	padding:8px 45px 8px 45px;
	margin:20px 20px 20px 20px;
}
