// COLOUR PALETTE
$dkblue: #303168;
$blue: #3E3F76;
$dkpink: #CE3A78;
$pink: #E94B87;
$grey: #EEE;
$offwhite: #F2F2EB;

// FONTS/FONT SIZES
$font: "Roboto", sans-serif;
$hdr: 2.25em;
$subhd: 1.5em;
$body: 1em;

$ltweight: 300;
$bldweight: 400;
$mediumWeight: 500;


$maxwidth: 960px;


$breakpoint: 600px;

$photo: 118px;

@import 'normalize';
@import 'header';
@import 'footer';
@import 'about';
@import 'modal';


*{
  box-sizing: border-box;
}

body{
  position: relative;
  background: $dkblue; // bg color coming in with the 3D effects?
  font-family: $font;
  color: white;
  line-height: 1.25;
  font-weight: $ltweight;

  font-size: $body;

  font-size: 1em;
}


.container{
    width: 90%;
    max-width: $maxwidth;
    margin: 0 auto;
}

.section--info h1{
  font-size: 3.375em;
  font-weight: $bldweight;
  letter-spacing: 0.3em;
  @media screen and (max-width: 600px) {
    font-size: 2.4em;
  }
  @media screen and (max-width: 370px) {
    letter-spacing: 0.1em;
  }
  @media screen and (min-width: 1500px) {
    font-size: 4em;
  }
}

.section--info h2{
  font-size: 2em;
  letter-spacing: 0.2em;
  font-weight: $ltweight;
  @media screen and (max-width: 600px) {
    font-size: 1.6em;
  }
}

.section--info h3{
  font-size: 2em;
  letter-spacing: 0.2em;
  margin: 0.8em 0;
  @media screen and (max-width: 600px) {
    font-size: 1.6em;
  }
}

h4 {
  font-size: 2em;
  margin: 0.8em 0 0.4em;
}

h5{
  font-size: 0.667em;
  font-weight: $ltweight;
}




form{
  display: flex;
  flex-direction: row;
  padding: 0.8em 0;
  @media screen and (max-width: 500px) {
    display: block;
  }
}

input {
  -webkit-appearance: none;
}

input[type=email]{
  background: $blue;
  border: 1px solid white;
  border-radius: 5px 0 0 5px;
  color: white;
  padding: 0.667em;
  width: 100%;
  font-size: 1em;
  @media screen and (max-width: 500px) {
    border-radius: 5px 5px 0 0;
  }
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
    font-style: italic;
    font-weight: $ltweight;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
   font-style: italic;
   font-weight: $ltweight;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
   font-style: italic;
   font-weight: $ltweight;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
   font-style: italic;
   font-weight: $ltweight;
}

input[type=submit]{
  padding: 0.4em 1.667em;
  border-radius: 0 5px 5px 0;
  background: white;
  color: $blue;
  font-family: $font;
  font-size: 1em;
  border: 2px solid white;
  cursor: pointer;
  text-align: center;
  &:hover {
    color: $pink;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
    border-radius: 0 0 5px 5px;
  }
}

.line-break {
  @media screen and (max-width: 500px) {
    display: block;
  }
}

.social--icon {
  display: inline-block;
  margin: 1.6em 0.4em;
}

#form-response {
  color: $pink;
}

#bg--threejs{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

h1{
  padding-top:40px;
  text-align: left;
  color:#303168;
}

.section--students {
  background: white;
  width:90%;
  margin:0 auto;
  @media screen and (max-width: $breakpoint) {
      width:100%;
      height:100%;
  }
}

.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .student{
    margin:20px 1%;
    width: 23%;
    @media (max-width:$breakpoint){
      width: 48%;
    }
    .photo{
      margin-bottom: 10px;
      position: relative;
      img {
        width: 100%;
        height: auto;
        &:nth-child(2) {
          position: absolute;
          top: 0;
          opacity: 0;
        }
      }
    }
    .name, .title{
      text-align: left;
      font-size: 16px;
      font-weight: $mediumWeight;
      color:#303168;
    }
    .first, .last{
      display: inline;
      @media (max-width:$breakpoint){
        display: block;
      }
    }
    .title{
      margin-top: 5px;
      font-size: 12px;
      font-weight: $bldweight;
      color:#424242;
    }
    &:hover img:nth-child(2) {
        opacity: 1;
    }
  }
}
