<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sheridan IMM 2016: Rediscover</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="images/touch/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/touch/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/touch/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/touch/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/touch/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/touch/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/touch/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/touch/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/touch/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="images/touch/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/touch/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="images/touch/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/touch/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="images/touch/manifest.json">
    <link rel="shortcut icon" href="images/touch/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="images/touch/mstile-144x144.png">
    <meta name="msapplication-config" content="images/touch/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- SEO & Social Media -->
    <meta name="description" content="Rediscover/Reimagine is an open house hosted by the post-grad students from the Interactive Media program. It will be held on April 27th at Design Co-founders in Toronto. ">
    <meta property="og:title" content="Sheridan IMM 2016: Rediscover">
    <meta property="og:description" content="Rediscover/Reimagine is an open house hosted by the post-grad students from the Interactive Media program. It will be held on April 27th at Design Co-founders in Toronto. ">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://imm.sheridancollege.ca/openhouse/2016/">
    <meta property="og:image" content="http://imm.sheridancollege.ca/openhouse/2016/images/fb.png">
    <meta name="twitter:title" content="Sheridan IMM 2016: Rediscover">
    <meta name="twitter:description" content="Rediscover/Reimagine is an open house hosted by the post-grad students from the Interactive Media program. It will be held on April 27th at Design Co-founders in Toronto. ">
    <meta name="twitter:image" content="http://imm.sheridancollege.ca/openhouse/2016/images/twitter.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@SheridanIMM">

    <!-- Webfont -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/main.css">
</head>

<body id="app">
  <!-- NAV BAR -->
  <header>
      <nav class="nav--container">
          <div id="nav-icon3">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
      </nav>
      <div class="nav--overlay">
          <div class="nav--responsive-menu">
              <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Location</a></li>
                  <li><a href="#">Students</a></li>
              </ul>
          </div>
      </div>
    </header>

<!-- Header -->

    <section class="section--info">
        <div class="section--info-content">
          <p>SHERIDAN IMM</p>
          <p>2016 GRADS PRESENT</p>
          <!--  Logo -->
          <section class="section--logotype"></section>
        </div>
    </section>

<!--    About section-->

    <section class="section--about" >
      <section class="section--blurb">
        <div class="container--blurb">
          <h1>ABOUT</h1>
          <p>
            The world is in a constant state of change. Digital spaces too! With every new device, a new realm of possibilities emerges and redefines how we experience, understand and communicate with one another.
          </p>
          <p>
            We, the students of IMM know first hand. Throughout the year our projects challenged us to think differently. From mocking up smart watch apps to developing full web applications, to creating VR simulations and experimenting with the physical web, we’ve designed and developed for a full stack of digital environments. Our work is done with user experience and inspiration in mind - and a lot of coffee.
          </p>
          <p>
            Take a look at our profiles, get to know our stories, and explore our creations. We invite you to come to our open house to rediscover what it means to be on the web, and reimagine what is possible with interactive media. We’re just getting started.
          </p>
        </div> <!-- end container-blurb-->
        <div class="container--logos">
          <p>
            <img id="sheridanlogo" src="images/sheridan_logo.svg">
          </p>
          <p>
            <img id="dclogo" src="images/dc_logo.svg">
          </p>
        </div> <!-- end container-logos>-->
        <div class="divider">
          <hr/>
        </div>
      </section> <!-- end section-blurb-->
    </section> <!-- end section-about-->

    <section class="section--location">
      <section class="section--details">
        <div class="container--date">
            <p>
              <img class="detail-svg" src="images/calendar.svg">
              <br>
              <h2>
                <a href="sheridan-imm-2016-gradshow.ics">
                  Wednesday, April 27, 2016
                </a>
              </h2>
            </p>
        </div>

        <div class="container--location">
          <p>
            <img class="detail-svg" src="images/pin.svg">
            <br>
            <h2>
              <a href="https://www.google.ca/maps/place/Design+Cofounders/@43.6464218,-79.3958105,15z/data=!4m2!3m1!1s0x0:0x75b4b2ebd5e75768?sa=X&ved=0ahUKEwikh_D-wObLAhWCwBQKHZQsBBEQ_BIIazAL" target="_blank">
                Design CoFounders
              </a>
              <p>213 Spadina Ave. Unit 302</p>
            </h2>
          </p>
        </div>
        <div class="divider">
          <hr/>
        </div>
      </section><!--end section-details-->

      <section class="section--map">
        <div class="container--map" id="map">
          <!-- PUT THE MAP HERE!! -->
        </div>
      </section> <!-- end section-map-->
    </section> <!-- end section-location-->

  <section class="section--students">
    <div v-show="showModal" class="modal--outer" style="display: none;">
      <div class="modal">
        <!-- Close button -->
        <a v-on:click="showModal = false"><div class="closeBtn"><img src="images/btn_close.svg"></div></a>
        <!-- Student Image (Will change once we have photo's in place) -->
        <img class="portrait" src="images/portraits/{{ currentStudent.id }}.png" alt="{{ currentStudent.first }} {{ currentStudent.last }}">

        <!-- Student Data -->
        <h1>{{ currentStudent.first }} {{ currentStudent.last }}</h1>
        <h2>{{ currentStudent.title }}</h2>
        <p>{{ currentStudent.description }}</p>

        <ul>
          <!-- Only render social links that are not blank -->
          <li v-if="currentStudent.githubUrl !== ''">
            <a href="{{ currentStudent.githubUrl }}"><img src="images/sm_github.svg"></a>
          </li>
          <li v-if="currentStudent.twitterUrl !== ''">
            <a href="{{ currentStudent.twitterUrl }}"><img src="images/sm_twitter.svg"></a>
          </li>
          <li v-if="currentStudent.linkedInUrl !== ''">
            <a href="{{ currentStudent.linkedInUrl }}"><img src="images/sm_linkedin.svg"></a>
          </li>
          <li v-if="currentStudent.behanceUrl !== ''">
            <a href="{{ currentStudent.behanceUrl }}"><img src="images/sm_behance.svg"></a>
          </li>
        </ul>

        <!-- Portfolio Link -->
        <a class="portfolio" href="{{ currentStudent.portfolioUrl }}">View Portfolio</a>
      </div>
    </div>

    <div class="container">
      <h1>STUDENTS</h1>
      <div class="list">
        <div v-for="student in students" class="student" v-on:click="openModal($index)">
          <div class="photo">
            <img src="images/portraits/{{ student.id }}.png" alt="{{ student.first }} {{ student.last }}">
            <img src="images/portraits/{{ student.id }}_sketch.png" alt="{{ student.first }} {{ student.last }}">
          </div>
          <p class="name">
            <span class="first">{{ student.first }}</span>
            <span class="last">{{ student.last }}</span>
          </p>
          <p class="title">{{ student.title }}</p>
        </div>
        <!-- end of list -->
      </div>
      <!-- end of container -->
    </div>
  </section>

  <!-- FOOTER -->
  <footer>
    <div class="container">
      <h2 class="contact">CONNECT WITH US</h2>

      <form action="//sheridancollege.us5.list-manage.com/subscribe/post-json?u=0f989d38861f906f55f887ece&amp;id=ba049562ad&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" class="email email-input" id="mce-EMAIL" placeholder="email address" required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_0f989d38861f906f55f887ece_ba049562ad" tabindex="-1" value="">
        </div>
        <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>

      <!-- Twitter -->
      <a class="social--icon" href="https://twitter.com/SheridanIMM" target="_blank">
          <img src="images/twitter.svg" id="twitter">
      </a>

      <!-- Facebook -->
      <a class="social--icon" href="https://www.facebook.com/sheridanIMM" target="_blank">
          <img src="images/facebook.svg" id="facebook">
      </a>

    </div>
  </footer>


  <main id="bg--threejs"></main>



  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTM2MsXfCFo8PSmLp_bWy4KzupmBj0v6g&callback=initMap" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r74/three.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
  <!-- build:js scripts/main.min.js -->
  <script src="scripts/map.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/modal.js"></script>
  <!-- endbuild -->

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
  </script>


  <!-- <script type="text/javascript">
  </script> -->
</body>

</html>
